.filtrar-alunos, .tabela-alunos {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .filtrar-alunos .buscar, .filtrar-alunos button {
    all: unset;
    border: solid 0.1px #555555;
    padding: 5px 10px;
  } 
  
  .filtrar-alunos .buscar {
    display: flex;
    text-align: left;
    width: 470px;
    height: 35px;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
  }
  
  .filtrar-alunos button {
    background: linear-gradient(91.26deg, #05EDE3 0%, #3A9FF1 97.77%);
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    cursor: pointer;
  }
  
  .filtrar-alunos button:hover {
    background: linear-gradient(91.66deg, #FA8C10 0%, #FF576B 90.32%);
  }