.tabela-alunos {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .aluno-resume-tr {
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .aluno-resume-th, .aluno-resume-line-td {
    width: 300px;
    height: 45px;
  }

  .corpo-tabela {
    display: flex;
    flex-direction: column;
  }
  
  .aluno-resume-th {
    background: #FAFAFA;
  }
  
  .aluno-resume-line-td {
    border-bottom: 1px solid #E0E0E0;
  }
  .button-sair {
    all: unset;
    background: linear-gradient(91.26deg, #FA8C10 0%, #FF57D3 97.77%);
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
    margin-top: 15px;
    width: 100px;
    height: 25px;

    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
  }
  .button-sair:hover {
    background: linear-gradient(91.26deg, #05EDE3 0%, #3A9FF1 97.77%);
  }